@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");

body {
    background-image: url('oh-bg.png');
}

.container-0 {
	background-color: #fff;
	border-radius: 3px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			    0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 665px;
	max-width: 100%;
  min-height: 600px;
  
  font-family: "Source Sans Pro", sans-serif;
  padding: 5px 20px;
  position: relative;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

#header {
    text-align: center;
    background-color: #f57b51;
    border-radius: 3px;
    padding: 1px;
    color: #fff;
    margin: 10px 15px;
}

#header  > h1, h3 {
    margin: 5px;
}

.gender {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 5px 2px;
    text-align: center;
    width: 200px;
}

.gender > input {
    visibility: hidden;
    width: 1px;
}

.gender > img {
    margin: 5px auto;
}

#gender-form {
    display: flex;
    justify-content: center;
}

.checked {
    background-color: #f57b51;
    color: #fff;
    font-weight: bold;
}

.wrapper {
    margin: 25px auto;
}

.name-in {
    border-radius: 3px;
    padding: 5px 7px;
    background-color: #f0f0f0;
    border: 1px solid #e4e4e4;
    width: 100%;
    max-width: 100%;
    margin: 3px auto;
    padding-left: 15px;
    height: 40px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #f57b51;
  }

  .mySlides {
    display: none;
    }

    .slidecontainer {
        width: 100%;
      }
      
      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #f57b51;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #f57b51;
        cursor: pointer;
      }


/*the container must be positioned relative:*/
.custom-select {
  position: relative;
}

#regions {
  display: none; /*hide original SELECT element:*/
  visibility: hidden;
}

.select-selected {
  background-color: #f57b51;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #c7c4c3;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: 300px; 
  overflow-y: scroll;
  color: black;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #f57b51;
}

.select-items::-webkit-scrollbar {
  display: none;
}

#oblast {
  width: 100px; 
  overflow-y: scroll; 
  background-color: #f57b51;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a background */
.container input:checked ~ .checkmark {
  background-color: #f57b51;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.circly {
  border-radius: 50%;
}

.container .circly:after {
  top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.qa {
  margin: 20px 0px;
}

#container {
  cursor: auto;
}

.emojiYear {
  margin: 0px auto;
}

#footer  {
  position: absolute;
  bottom: 0;
  margin: 5px auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  overflow-y: auto;
}

.interests {
  background-color: #f0f0f0;
  margin: 5px;
  text-align: center;
  line-height: 120px;
  font-size: 24px;
  flex-grow: 1;
  flex-basis: 200px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}

.flex-container::-webkit-scrollbar {
  display: none;
}

.flex-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.interests-checked {
  border: solid 3px #f57b51;
}

#next {
  position: absolute;
  font-size: 25px;
  color: #f57b51;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

#button-wrapper {
  width: 230px;
  height: 55px;
  position: relative;
  margin: 0px auto;
}

#button-submit-rocket {
  width: 100%;
  position: relative;
  height: 55px;
  border-radius: 3px;
  background-color: #f7f7f700;
  border: 1px solid #c5c5c5;
  text-align: left;
  font-weight: bold;
  padding-left: 15px;
  color: #f57b51;
  overflow: hidden;  
  margin: 0px auto;
  z-index: 9999999999999999999999999999999999999999;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  
}

#rocket-button {
  height: 60px;
  position: absolute;
  bottom: -10px;
  right: 30px;
}

.cloud {
  position: absolute;
  width: 40px;
  z-index: 9999999999999;
  bottom: -25px;
  right: 30px;
}

#cloud-l {
  right: 10px;
}

.rotationCloudL {
  -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.rotationCloudR {
  -webkit-animation: rotationR 4s infinite linear;
}

@-webkit-keyframes rotationR {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(-359deg);
  }
}

.fly {
  animation: shimmy 3s;
}


@keyframes shimmy {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(0px, -550px);
  }
}

.emoji-interests-5 {
  height: 25px;
  margin-left: 2px;
  margin-bottom: 0px;
  width: auto;
}

